doctype
html
  head
    title Prototype
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/app.css")
    script(src='#{baseUrl}/js/jquery-2.1.4.min.js')
    script(src='#{baseUrl}/js/app.js')
  body
    != yield
